html,
body {
    height: 100%;
    background-color: $color-bg;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    padding: 40px 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__item {
        margin-left: 40px;

        &-link {
            font-family: "Golos_Regular", sans-serif;
            font-weight: 200;
            font-size: 20px;
            color: $color-black;
            transition: color 0.3s;
        }

        &-link:hover {
            color: $color-cream;
        }
    }
}

.about {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 103px);
    position: relative;

    .container {
        flex: 1 1 auto;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-column-gap: 20px;
        align-items: center;
        padding-bottom: 150px;
    }

    &__text {
        font-family: "Golos_Regular", sans-serif;
        color: $color-black;
        letter-spacing: -1px;

        &-title {
            font-weight: 600;
            font-size: 72px;
            line-height: 72px;
            margin-bottom: 22px;
        }

        &-subtitle {
            font-weight: 400;
            font-size: 38px;
            line-height: 38px;
        }
    }

    &__img {
        width: 300px;
        height: 300px;
    }
}

// === анимация мыши ===
.next {
    display: flex;
    justify-content: center;

    &__container {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__mouse {
        animation: mouse 2s infinite linear;

        svg {
            fill: $color-black;
        }
    }

    &__arrow {
        animation: arrow 2s infinite ease;

        svg {
            fill: $color-black;
        }
    }
}

.work {
    background-color: $color-bg-section;
    padding: 100px 0;

    // .work__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 120px 1fr;
        grid-column-gap: 50px;
        margin-right: 25px;
    }

    // .work__title
    &__title {
        font-family: "Golos_Regular", sans-serif;
        font-weight: 600;
        font-size: 72px;
        line-height: 72px;
        text-align: left;
        margin-bottom: 35px;
        grid-column-start: 1;
        grid-column-end: 3;
        color: $color-white;
    }

    // .work__subtitle
    &__subtitle {
        font-family: "Golos_Regular", sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: $color-white;
        text-align: left;
        max-width: 500px;
    }

    // .work__items
    &__items {
        display: flex;
        align-items: center;
        //align-items: flex-start;
        //justify-content: space-between;
        max-width: 600px;
    }

    // .work__item
    &__item {
        //margin: 0 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 600px;

        // .work__item-wrapper
        &-wrapper {
            position: relative;
        }

        // .work__item-wrapper:hover
        &-wrapper:hover .work__item-hover {
            opacity: 1;
        }

        // .work__item-img
        &-img {
            max-width: 600px;
            height: auto;
            position: relative;
        }

        // .work__item-hover
        &-hover {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: $color-item-hover;
            opacity: 0;
            color: $color-white;
            font-family: "Golos_Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            transition: all 0.5s;
        }

        // .work__item-name
        &-name {
            font-family: "Golos_Regular", sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: $color-white;
            margin-top: 15px;
        }
    }

}

.skills {
    padding: 100px 0;

    // .skills__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //grid-template-columns: calc(100% / 12 * 6) calc(100% / 12 * 6);
        grid-template-rows: 120px 1fr;
        grid-column-gap: 50px;
    }

    // .skills__title
    &__title {
        font-family: "Golos_Regular", sans-serif;
        font-weight: 600;
        font-size: 72px;
        line-height: 72px;
        text-align: left;
        margin-bottom: 35px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    // .skills__subtitle
    &__subtitle {
        font-family: "Golos_Regular", sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: $color-black;
        text-align: left;
        max-width: 500px;
    }

    // .skills__items
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 600px;
        margin-left: -15px;
        margin-right: -15px;
    }

    // .skills__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110px;
        justify-content: space-between;
        margin: 0 15px 25px 15px;

        &-img {
            width: 78px;
            height: 78px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-name {
            font-family: "Golos_Regular", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $color-black;
        }
    }
}

.contact {
    padding: 100px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //grid-template-columns: calc(100% / 12 * 6) calc(100% / 12 * 6);
        grid-column-gap: 50px;
    }

    // .contact__title
    &__title {
        font-family: "Golos_Regular", sans-serif;
        font-weight: 600;
        font-size: 72px;
        line-height: 72px;
        color: $color-black;
        text-align: left;
        margin-bottom: 150px;
    }

    // .contact__subtitle
    &__subtitle {
        grid-column-start: 2;
        grid-column-end: 3;
        font-family: "Golos_Regular", sans-serif;
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
        color: $color-black;
        text-align: left;
        margin-bottom: 48px;
    }

    // .contact__link
    &__link {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    // .contact__method
    &__method {
        font-family: "Golos_Regular", sans-serif;
        font-size: 40px;
        line-height: 60px;
        font-weight: 600;
        color: $color-bg-section;
        text-align: left;
    }
}

.link {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        bottom: -5px;
        width: 100%;
        height: 2px;
        opacity: 0;
        transform: translateY(3px);
        transition: all .5s;
        background-color: $color-bg-section;
    }

    &:hover::before {
        opacity: 1;
        transform: translateY(0px);
    }
}

// === slick slider ===
.slick-slider {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    //width: 100%;

    // ограничивающая оболочка
    .slick-list {
        overflow: hidden;
        padding: 0;
        // margin: 0 -15px;
    }

    // лента слайдов
    .slick-track {
        display: flex;
    }

    // слайд
    .slick-slide {
        //margin: 0 15px;
        width: 600px;
        height: auto;
    }

    // === стрелки ===
    .slick-arrow {
        position: absolute;
        top: calc(50% - 15px);
        z-index: 10;
        // чтобы убрать текст с кнопок
        font-size: 0;
        outline: none;
        width: 16px;
        height: 30px;
        border-style: none;
        background-color: transparent;
        cursor: pointer;

        // стрелка влево
        &.slick-prev {
            left: -25px;
            background-image: url("./../images/arrow-prev.svg");
            background-repeat: no-repeat;
            outline: none;
        }

        // стрелка вправо
        &.slick-next {
            right: -25px;
            background-image: url("./../images/arrow-next.svg");
            background-repeat: no-repeat;
            outline: none;
        }
    }

    .slick-list {
        overflow: hidden;
    }
}